﻿/*@font-face {
    font-family: 'Anna';
    src: url('../fonts/Anna.eot');
    src: url('../fonts/Anna.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Anna.woff') format('woff'),
        url('../fonts/Anna.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Topic Alternates';
    src: url('../fonts/TopicAlternates.eot');
    src: url('../fonts/TopicAlternates.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TopicAlternates.woff') format('woff'),
        url('../fonts/TopicAlternates.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Teen';
    src: url('../fonts/Teen-Regular.eot');
    src: url('../fonts/Teen-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Teen-Regular.woff') format('woff'),
        url('../fonts/Teen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/


@import 'https://fonts.googleapis.com/css?family=Fjalla+One';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body{
    font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

/*Common classes*/

a {
    text-decoration:none;
    color: #1376AF;
    cursor:pointer;
}
a:hover{
    text-decoration:underline;
    
}
img {
    max-width:100%;
}
body {
    line-height: 1;
    overflow-x:hidden;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-spacing: 0;
     border: 1px solid #e1e1e1;
    border-collapse: collapse;
}
.thead {
    background-color: #1376af;
    text-align: center;
}

th {
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    color: #f5f5f5;
    padding: 6px 5px;
    text-align: left;
    font-size:14px;
    box-sizing:border-box;
}
td {
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    font-size: 13px;
    font-weight: normal;
    padding: 6px;
    text-align: left;
    text-transform: capitalize;
    color:#666;
    box-sizing:border-box;
}
table tr:nth-child(even) {
    background-color:#F2F1EF;
}
table tr td > table {
    
    width:100%;
}
.default_height {
    min-height:900px;
}
.left_supplier_quality tr:nth-child(even), .graph tr:nth-child(even), .graph1 tr:nth-child(even), .graph2 tr:nth-child(even), .graph3 tr:nth-child(even), .graph4 tr:nth-child(even),.info_main tr:nth-child(even)  {
    background:#eee;
}
li{
    list-style-type:none;
}
label,textarea {
    background:none;
    border:none;
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}
label {
    font-size:14px;
    margin:0 20px 0 0;
}
.clr_orange {
    color:#EC644B;
}
.clr_red {
    color:#E74C3C;
}

.clr_light_blue {
    color:#446CB3;
}

.marg_top {
    margin-top:10px !important;
}
.marg_bottom {
    margin-bottom:10px !important;
}
.font_size_15 {
    font-size:15px;
}
.font_size_14 {
    font-size:14px;
}

.sucess {
    color:red;
    text-transform:capitalize;
}

.capital {
    text-transform:capitalize;
}

.upper_case {
    text-transform:uppercase;
    font-weight:bold;
}
/*.text_area_small {
    border:1px solid #888;
    min-height:70px;
    resize:none;
    background:#fff;
    width:225px;
    box-shadow: 2px 2px 10px #ccc;
    color: #333;
    margin: 0;
    vertical-align: middle;
}
.text_area_med {
    border:1px solid #888;
    min-height:70px;
    resize:none;
    background:#fff;
    width:30%;
    box-shadow: 2px 2px 10px #ccc;
    color: #333;
    margin: 0;
    vertical-align: middle;
}

.input_submit_search{
    background: #404A54;
    border: medium none;
    box-shadow: 2px 2px 10px #ccc;
    color: #eee;
    margin: 0;
    padding: 1px 15px 2px 15px;
    vertical-align: middle;
    cursor:pointer;
}
.input_submit_search:hover{
    background: #1376af none repeat scroll 0 0;
}
.input_text{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #333;
    color: #333;
    margin: 0;
    padding: 1px 10px 1px 2px;
    vertical-align: middle;
}
.select_med {
    width:200px;
}*/
.flt_left{
    float:left;
}
.flt_right{
    float:right;
}

.full_width {
        width:100%;
    }
/*Common classes End*/


/************Login page start**************/

.bg {
    /*background-attachment: fixed;
    background-color: #dadada;*/
    background:url(../img/bg.jpg) repeat;
    /*background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover;*/
    height: 100%;
    position: fixed;
    width: 100%;
}
#login_main {
      background: none repeat scroll 0 0 #f3f3f3;
    border-top: 20px solid #2C3E50;
    box-sizing: border-box;
    display: inline-block;
    /*margin: 5% 0;*/
    min-height: 400px;
    padding: 30px 4%;
    width: 30%;
    position: absolute;
    top: 20%; 
    left: 35%;

}
.header_login {
    background: none repeat scroll 0 0 #fff;
    display: inline-block;
    width: 100%;
}

.logo_main{
    padding: 20px 0;
    text-align: center;
}
.login_main h1 {
    margin:10px 0 10% 0;
    color: #555;
    font-family: Tahoma;
    font-size: 24px;
    padding: 20px 0px 10px 50%;
    text-align: left;
    background:url(../img/logo_login.png) no-repeat left center;
}

.user_name_main,.ps_main{
    display:inline-block;
    width:100%;
    margin: 0 0 10px 0;
}
.form_admin {
    margin: 20px 0;
}

.form_admin input {
    border:none;
    background-color: #f7f7f7;
    border-color:#e0dada;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 3px;
    color: #333;
    font-family: Tahoma;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0;
}
.ur_name {
    background: url("../img/user_icon.png") no-repeat scroll 97% center rgba(0, 0, 0, 0);
    padding: 10px 25px 10px 10px;
}


.form_admin input {
    border:none;
    background-color: #f7f7f7;
    border-color:#e0dada;
    border-image: none;
    border-style: solid;
    border-width: 3px;
    color: #333;
    font-family: Tahoma;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0;
    width:100%;
}
.ps_admin {
    background: url("../img/ps_icon.png") no-repeat scroll 97% center rgba(0, 0, 0, 0);
    padding: 10px 25px 10px 10px;
}


.submit_btn {
    background: #ec644b;
    border: medium none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ccc;
    color: #eee;
    float: left;
    padding: 10px 20px;
    margin:20px 0px;
    
    transform: perspective(1px) translateZ(0px);
    transform-origin: 100% 0 0;
    vertical-align: middle;
}
.submit_btn a{
    
    color: #eee;
    
}
.submenu_inner {
    position:relative;
}

.forget_btn {
    background: none repeat scroll 0 0 #2574A9;
    border: medium none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ccc;
    color: #eee;
    float: right;
    padding: 10px 20px;
    margin:20px 0px;
}
.forget_btn:hover{
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: hvr-wobble-bottom;
    animation-timing-function: ease-in-out;
    cursor:pointer;
    }

.submit_btn:hover {
    cursor:pointer;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: hvr-wobble-bottom;
    animation-timing-function: ease-in-out;

}
@keyframes hvr-wobble-bottom {
16.65% {
    transform: skew(-12deg);
}
33.3% {
    transform: skew(10deg);
}
49.95% {
    transform: skew(-6deg);
}
66.6% {
    transform: skew(4deg);
}
83.25% {
    transform: skew(-2deg);
}
100% {
    transform: skew(0deg);
}
}


/************Login page end**************/

/*header class*/
/*.container{
     width:100%;
     display:inline-block;
    }*/
/*.wrapper {
    width:100%;
    max-width:960px;
    min-width:320px;
    margin:0px auto;
}*/

/*.header {
    background:#f7f7f7;
    padding:10px 0px;
    box-sizing:border-box;
    display:inline-block;
    width:100%;
    text-align:right;
    box-shadow:5px 0 13px #c6c6c6;
}*/
/*.logo {
    float:left;
}
.login p {
    font-size:16px;
    margin:10px 0 0px 0px;
    display:inline-block;
    text-transform:capitalize;
    color:#3498DB;
}
.login a {
    color:#D24D57;
    font-size:15px;
    margin:10px 0px 0px 0px;
    display:inline-block;
}*/
.head_menu{
    width:100%;
    display:inline-block;
    padding:0px 0px;
    text-align:left;
    margin:10px 0 0 0;
    /*background:#EC644B;*/
    /*margin:4% 0 0 20%;*/
}

.head_menu ul{
    padding:0px;
    margin:0px;
}
.head_menu ul li{
    float:left;
    padding:0px;
    margin:0px;
    position:relative;
}
    
.head_menu ul li a{
    display:inline-block;
    /*margin:5px 10px;*/
    color:#757474;
    font-size:13px;
    font-weight:bold;
    border-right:1px solid #ddd;
    border-top:1px solid #F7F7F7;
    margin:0 10px;
    
    /*font-family:'Anna';*/
}

.head_menu ul li a:first-child{
    margin-left:0px;
    
}
.dash_icon {
    background:url(../img/menu_dash_bg_hover.png) no-repeat left center;
    padding:12px 30px 9px 30px !important;
}
.dash_icon:hover {
    background:url(../img/menu_dash_bg.png) no-repeat left center;
    padding:12px 30px 9px 30px !important;
}
.config_icon {
    background:url(../img/menu_config_bg_hover.png) no-repeat left center;
    padding:12px 30px 9px 25px !important;
}
.config_icon:hover {
    background:url(../img/menu_config_bg.png) no-repeat left center;
    padding:12px 30px 9px 25px !important;
}
.pricing_icon {
    background:url(../img/menu_pricing_bg_hover.png) no-repeat left center;
    padding:12px 30px 9px 30px !important;
}
.pricing_icon:hover {
    background:url(../img/menu_pricing_bg.png) no-repeat left center;
    padding:12px 30px 9px 30px !important;
}
.inventory_icon {
    background:url(../img/menu_invertor_bg_hover.png) no-repeat left center;
    padding:12px 30px 9px 25px !important;
}
.inventory_icon:hover {
    background:url(../img/menu_invertor_bg.png) no-repeat left center;
    padding:12px 30px 9px 25px !important;
}

.head_menu ul li a:hover{
    color:#00084d;
    text-decoration:none;
}

/*header class end*/

/*Content part start*/
.content_menu {
    float:right;
    margin:20px 0px;
}
.content_menu ul {
    padding:0px;
    margin:0px;
}
.content_menu ul li{
    display:inline-block;
}
.content_menu ul li a{         
    margin:0px;
    color:#757474;
    font-size:14px;
    padding:12px 20px 9px 20px;
}
.content_menu ul li a:hover {
    color: #00084d;
}
.daily_icon {
    background:url(../img/daily_icon.jpg) no-repeat left center;    
}
.monthly_icon {
    background:url(../img/monthly_icon.jpg) no-repeat left center;
    
}
.yearly_icon {
    background:url(../img/yearly_icon.jpg) no-repeat left center;
    
}
.range_icon {
    background:url(../img/date_range_icon.jpg) no-repeat left center;
    padding:12px 0px 9px 20px !important;
}

.statistics {
    width:100%;
    float:left;
    
}
.sale_dashboard, .competitor_analysis, .exceptions, .product_category_analysis {
    display:inline-block;
    margin:3% 3% 3% 0;
}

.content_main {
    margin:10px 0 0 0;
}

.content_main h1 {
    color:#de4402;
    font-size:18px;
    padding:20px 0px 15px 0px;
}
.first_general_div {
    padding:10px;
    box-sizing:border-box;
    width:100%;
    display:inline-block;
    background:#eee;
    margin:10px 0px;
}
.content_main h2 {
    color:#09357A;
    font-size:16px;
    padding:5px 0px 20px 0;
}
.content_main_inner h1 {
    color:#de4402;
    font-size:18px;
    padding:15px 0px;
}
.content_main_inner {
    display:inline-block;
    width:100%;
    margin:10px 0 10px 0;
    box-sizing:border-box;
    padding:20px 10px 10px 20px;
    background:#EEEEEE;
    /*border-left:10px #34495E solid;*/
}
.channel_main {
    display:inline-block;
    width:100%;
    margin:5px 0 5px 0;
}
.channel_main textarea{
    width:150px;
    height:150px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #333;
    color: #333;
    margin-right: 20px;
}
    .channel_main .label_med_inner {
        
    }
.channel_all {
    float:left;
}
    .channel_all label {
        margin:0 10px;
    }
    .pricing_menu_manage {
    float:right;   
    margin:0px 0px 10px 0px;
}
.pricing_menu {
    display:inline-block;
    width:100%;
    text-align:center;
    margin:10px 0 0 0;
}
.pricing_menu ul{
    padding:0px;
    margin:0px;
}
.pricing_menu ul li{
    display:inline-block;
}
/*.pricing_menu ul li a{
    padding:4px 15px;
    text-align:center;
    color:#fefefe;
    font-size:14px;
    border-radius:5px;
    margin:0 5px;
    background:#09357a;
}
    .pricing_menu ul li a:hover {
        background:#E25A20;
        text-decoration:none;
    }*/  


    .next_prev {
    background: #EEEEEE none repeat scroll 0 0 !important;
    color: #fff;
}
        .next_prev table {
            width:auto;
        }
/*.next_prev td {
    color: #fff;
    cursor: pointer;
    min-width: auto !important;
    width: auto !important;
}*/
.next_prev tr {
    width: auto !important;
}

/*.next_prev td.active {
    background: #09357A none repeat scroll 0 0;
    color:#fff;
}
.next_prev tr td:hover {
    background: #09357A none repeat scroll 0 0;
    color:#fff;
}*/

/*.next_prev td {
    color: #fff;
    cursor: pointer;
    min-width: auto !important;
    width: auto !important;
}*/

.button_download{
     padding: 6px 30px 6px 10px;
    margin: 0 10px 0 0;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    text-align: right;
    display: inline-block;
    color: #fff;
    vertical-align: top;
     /*background: url(../img/add_button_icon.png) #2C3E50 no-repeat 10px center;*/
     background: url("../img/download_blue.png") no-repeat right -1px, linear-gradient(#0070c0, #1d5075);
     font-size:13px;
}

.send_to_email{
     padding: 6px 30px 6px 10px;
    margin: 0 10px 0 0;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    text-align: right;
    display: inline-block;
    color: #fff;
    vertical-align: top;
     /*background: url(../img/add_button_icon.png) #2C3E50 no-repeat 10px center;*/
     background: url("../img/send_to_email.png") no-repeat right -1px, linear-gradient(#0070c0, #1d5075);
     font-size:13px;
}
.button_uploadnew{
     padding: 6px 30px 6px 10px;
      margin: -16% 8% 0% 55%;
  
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    text-align: right;
    display: inline-block;
    color: #fff;
    vertical-align: top;
     /*background: url(../img/add_button_icon.png) #2C3E50 no-repeat 10px center;*/
     background: url("../img/upload_green.png") no-repeat right -1px, linear-gradient(#009e47, #00713b);
     font-size:13px;
}
/*.button_upload{
     padding: 6px 30px 6px 10px;
     margin: -6% 8% 0% 82%;
  
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    text-align: right;
    display: inline-block;
    color: #fff;
    vertical-align: top;
     background: url(../img/add_button_icon.png) #2C3E50 no-repeat 10px center;
     background: url("../img/upload_green.png") no-repeat right -1px, linear-gradient(#009e47, #00713b);
     font-size:13px;
}*/
.button_sync{
     padding: 6px 30px 6px 10px;
    margin: 0 10px 0 0;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    text-align: right;
    display: inline-block;
    color: #fff;
    vertical-align: top;
     /*background: url(../img/add_button_icon.png) #2C3E50 no-repeat 10px center;*/
     background: url("../img/sync_green.png") no-repeat right -1px, linear-gradient(#009e47, #00713b);
     font-size:13px;
}
.button_save{
     padding: 6px 30px 6px 10px;
    margin: 0 10px 0 0;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    text-align: right;
    display: inline-block;
    color: #fff;
    vertical-align: top;
     /*background: url(../img/add_button_icon.png) #2C3E50 no-repeat 10px center;*/
     background: url("../img/save_green.png") no-repeat right -1px, linear-gradient(#009e47, #00713b);
     font-size:13px;
}
.save_icon_manage {
    float:left;
    text-align:center;
    padding:0px;
    margin:17px 0px 0px 0px;
}
.save_icon {
    display:inline-block;
    width:100%;
    text-align:center;
    padding:0px;
    margin:17px 0px 0px 0px;
}
.sync_list {
    padding:0px;
    margin:17px 0px 0px 0px;
    float:right;
}
/*.sync_list li a,.save_icon li button{
    padding:4px 15px;
    text-align:center;
    color:#fefefe;
    font-size:14px;
    border-radius:5px;
    margin:0 5px;
}*/
/*.button_download {
    color: #FFF;
    padding: 5px 5px 5px 30px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #0070c0 url("../img/download.png") no-repeat 6px;
    text-align: right;
}*/

    .button_download:hover {
        background-color: #005896;
        transition: 0.5s;
    }

.button_process {
    color: #FFF;
    padding: 3px 5px 3px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #009e47 url("../img/process.png") no-repeat 5px;
    text-align: right;
}

    .button_process:hover {
        background-color: #00713b;
        transition: 0.5s;
    }

.button_apply {
    color: #FFF;
    padding: 3px 5px 3px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #009e47 url("../img/apply.png") no-repeat 5px;
    text-align: right;
}

    .button_apply:hover {
        background-color: #00713b;
        transition: 0.5s;
    }

/*.button_add {
    color: #FFF;
    padding: 3px 5px 3px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #009e47 url("../img/add.png") no-repeat 5px;
    text-align: right;
}

    .button_add:hover {
        background-color: #00713b;
        transition: 0.5s;
    }*/

/*.button_sync {
    color: #FFF;
    padding: 3px 5px 3px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #009e47 url("../img/sync.png") no-repeat 5px;
    text-align: right;
}

    .button_sync:hover {
        background-color: #00713b;
        transition: 0.5s;
    }*/

.button_save {
    color: #FFF;
    padding: 3px 5px 3px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #009e47 url("../img/save.png") no-repeat 5px;
    text-align: right;
}

.button_sync:hover {
    background-color: #00713b;
    transition: 0.5s;
}

/*.button_upload {
    color: #FFF;
    padding: 3px 5px 3px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #009e47 url("../img/upload.png") no-repeat 5px;
    text-align: right;
}*/
.button_uploadnew:hover {
        background-color: #00713b;
        transition: 0.5s;
    }

    .button_upload:hover {
        background-color: #00713b;
        transition: 0.5s;
    }

/*.button_delete {
    color: #FFF;
    padding: 3px 5px 3px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #c0392b url("../img/delete.png") no-repeat 5px;
    text-align: right;
}*/

/*.table tr, .table th, .table td {
    height: 60px;
    vertical-align: middle;
    width:6%;
}*/

.plan_list_view {
    margin: 0 auto;
    padding: 20px 0 10px;
    display:inline-block;
    width:100%;
}

.field_radio {
    margin: 20px 0 0;
    
}

    .button_delete:hover {
        background-color: #a31d0f;
        transition: 0.5s;
    }

.button_left {
    float: left;
    padding: 10px 0 0 0;
}

.button_right {
    float: right;
    padding: 10px 0 10px 0;
}
.reset {
    background:url(../img/reset_icon.png) no-repeat 95% center #09357a;
    padding-right:25px !important;
}
.reset:hover{
    background:url(../img/reset_icon.png) no-repeat 95% center #E25A20;
    text-decoration:none;
}

.export_all {
    background:url(../img/export_all_icon.png) no-repeat 95% center #09357a;
    padding-right:25px !important;
}
.export_all:hover{
    background:url(../img/export_all_icon.png) no-repeat 95% center #E25A20;
    text-decoration:none;
}
.import {
    background:url(../img/import_icon.png) no-repeat 95% center #09357a;
    padding-right:25px !important;
}
.import:hover {
    background:url(../img/import_icon.png) no-repeat 95% center #E25A20;
    text-decoration:none;
}
.export {
    background:url(../img/export_icon.png) no-repeat 95% center #09357a;
    padding-right:25px !important;
}
.export:hover{
    background:url(../img/export_icon.png) no-repeat 95% center #E25A20;
    text-decoration:none;
}
.table_main {
    width:100%;
    margin:10px 0px;
}
.table_main thead{
    background:#EEEEEE;
    
}
.table_main thead tr th{
    color:#fff;
    font-size:15px;
    background:#2D8BD5;
    text-align:center;
    padding:10px 0px;
    line-height:20px;
    
}
.table_main tbody tr td{
    color:#3e3e3e;
    font-size:14px;
    text-align:center;
    text-transform:capitalize;
    line-height:20px;
}

.table_main_access th:nth-child(1) {
    width:450px;
}
.table_main_access th:nth-child(2) {
    border-right:none;
}

.table_main_access {
    margin:10px 0px;
}
.table_main_access thead{
    background:#EEEEEE;
    
}
.table_main_access thead tr th{
    color:#fff;
    font-size:15px;
    background:#2D8BD5;
    
    padding:10px;
    line-height:20px;
    
}
.table_main_access tbody tr td{
    color:#3e3e3e;
    font-size:14px;
    
    text-transform:capitalize;
    line-height:20px;
}
.override {
    background:url(../img/overwrite_icon.png) no-repeat 5% center;
    padding-left:20px;
    color:#e05a20 !important;
}

.table_footer {
    display:inline-block;
    width:100%;
    background:#f8f7f7;
    /*padding:10px 0px;*/
    text-align:center;
    vertical-align:middle;
}
.recomended_list {
    color:#09357a;
    font-size:15px;
    padding:15px 10px;
    float:left;
}
.check_box_list_main {
    display:inline-block;
    margin:0 20px;
}
.magento_list {
    display:inline-block;
    padding:10px;
    vertical-align:middle;
}
.editable_input_blck
{
    border: 1px solid #ccc;
    padding: 3px;
    color: #6b6464;
    text-align: right;
  
}
.editable_input {
    border: 1px solid #ccc;
    padding: 3px;
    color: #0b7b0f;
    text-align: right;
    font-weight: 700;
}
.editable_input_red {
    border: 1px solid #ccc;
    padding: 3px;
    color: red;
    text-align: right;
    font-weight: 700;
}

.search_icon {
    float:left;
    padding:0px;
    margin:10px 0px;
}
.sync_img {
    background:url(../img/sync_now_icon.png) no-repeat 95% center #E25A20;
    padding-right:25px !important;
}
.sync_img:hover {
    background:url(../img/sync_now_icon.png) no-repeat 95% center #09357a;
    text-decoration:none;
}
.save_icon li a,.search_icon li a{
    padding:4px 15px;
    text-align:center;
    color:#fefefe;
    font-size:15px;
    border-radius:5px;
    /*margin:0 5px;*/
    background:#E25A20;
}
.save_icon li a:hover,.search_icon li a:hover{
    background:#09357a;
    text-decoration:none;
}

.magento_list > span {
    display: inline-block;
    vertical-align: middle;
}

.magento_list input[type=checkbox]{
    
    color: #f3f3f3;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
    border:1px solid #333;
    width:13px;
        height:13px;
          cursor: pointer;
  /*-webkit-appearance: none;
  appearance: none;*/ 
}

.amazon_drop {
    display: inline;
    left: 10px;

    position: relative;
    top: 9px;
}
.rules_main {
    display:inline-block;
    width:100%;
}
.rules {
    float:left;
    margin:10px;
}
.rules label{
    display:inline-block;
    padding:0 10px 0 0;
}

.input_label_disable{
    min-width:200px;
    background:#e7e7e7;
    padding:5px 10px;
    color:#333;
    display:inline-block;
    border:1px solid #ccc;
    font-size:14px;
}

.text_top {
    display:inline-block;
    position:relative;
}
.text_top span{
    display:block;
    font-size:12px;
    color:#555;
    padding:5px 0px;
}
.checking_cost {
    display:inline-block;
    width:100%;
    padding:10px;
    box-sizing:border-box;
    text-align:left;
    
}
.radio_normal {
    display:inline-block;
    margin:0 20px 0 0;
}
.text_normal {
    border:1px solid #ccc;
    color:#333;
    font-size:15px;
    line-height:20px;
}
.text_normal_small{
    border:1px solid #ccc;
    color:#333;
    font-size:14px;
    line-height:20px;
    width:40px;
}
.text_head_full {
    width:100%;
    display:inline-block;
    margin: 15px 0 5px 0;
}

.inclusion_main {
    display:inline-block;
    width:100%;
    border:1px #ccc solid;
    margin:10px 0px;
    text-align:center;
}
.inclusion_main h2{
    text-align:left;
    color:#EC644B;
    font-weight:bold;
    padding:10px;
    border-bottom:1px dotted #ccc;
}
.category{
    width:27%;
    margin:0px 10px;
    display:inline-block;
    vertical-align:top;
}
.pricing_config {
    width:36%;
    margin:0px 10px;
    display:inline-block;
    vertical-align:top;
}
.input_drop_view {
    min-height:200px;
    width:100%;
}
.category h3,.pricing_config h3,.competitor h3 {
    font-size:15px;
    color:#656565;
    text-align:left;
    margin:10px 0;
}
.competitor {
    width:27%;
    margin:0 2%;
    display:inline-block;
}

.category_list_view {
    width:100%;
    min-height:200px;
    /*overflow:auto;*/
    margin:0 0 20px 0;
}
.pricing_cal {
    display:inline-block;
    width:100%;
    text-align:left;
    margin:0 0 10px 0;
}
.input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #333;
    color: #333;
    margin: 0;
    padding: 1px 10px 1px 2px;
    vertical-align: middle;
}
.input_text {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #999;
    color: #333;
    margin: 0;
    padding: 3px 10px 3px 5px;
    vertical-align: middle;
    width: 250px;
}
.label_med_inner {
    min-width: 18%;
    display: inline-block;
}
.drop_down_med1 {
    display: inline-block;
   
    margin: 0 10px 0 0;
    padding: 10px 0px;
}
.drop_down_med{
    margin-right: 20px;
    width: 150px;
}
.input_med{
    margin-right: 20px;
    width: 150px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #333;
    color: #333;
}
.checkbox_1{
    padding: 0 5px;
}
.padding_left {
    padding-left: 10px;
}
.margin_top_10 {
    margin-top:10px;
}
.margin_top_8 {
    margin-top:8px;
}
.padding_left_50 {
    padding-left: 50px;
    float: left;
}
.general_main {
    display:inline-block;
    width:100%;
    margin:10px 0 0 0;
}
.general_left {
    float:left;
    width:45%;
     border: 1px solid;
}
.general_right {
    float:right;
    width:45%;
     border: 1px solid;
}
.label_inner_general {
    min-width: 120px;
    display: inline-block;
    margin:10px 0 0 0;
    vertical-align:top
}
.label_inner_general_big {
    min-width: 240px;
    display: inline-block;
    margin:10px 0 0 0;
    vertical-align:top
}
sup{
    color:red;
}

.pricing_menu_left {
    float:left;
}
.pricing_menu_left ul{
    padding:0px;
    margin:0px;
}
.pricing_menu_left ul li{
    display:inline-block;
}
.pricing_menu_left ul li a{
    padding:4px 15px;
    text-align:center;
    color:#fefefe;
    font-size:14px;
    border-radius:5px;
    margin:0 5px;
    background:#09357a;
}
    .pricing_menu_left ul li a:hover {
        background:#E25A20;
        text-decoration:none;
    }
    .label_disabled{
        background: #ccc none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #333;
    margin-right: 20px;
    width: 150px;
    padding:0 0 0 4px;
    }


    
.table_top_form_access {
    background-color: #405264;
    color: #fff;
    float: none;
    font-size: 14px;
    height: 20px;
    margin: 17px 0 0;
    padding: 2px;
    vertical-align: bottom;
    width: 230px;
}
/*Content part end*/


/*********Footer start*******/

/*.footer_main {
    background:#eeeeee;
    display:inline-block;
    width:100%;
    
    box-sizing:border-box;
}
.mail_footer {
    color:#3e3e3e;
    font-size:14px;
    padding:15px 0 10px 0px;
    display:inline-block;
}

.Twitter_footer {
    padding:10px 0 10px 0px;
    display:inline-block;
}*/


/*********Footer end*******/



/*.price_smart_grid th:nth-child(4){
    width:600px;
    min-width:600px;
    max-width:600px;
}
.price_smart_grid th:nth-child(5){
    width:60px;
    min-width:60px;
    max-width:60px;
}

.price_smart_grid th:nth-child(6){
    width:60px;
    min-width:60px;
    max-width:60px;
}
.price_smart_grid th:nth-child(7){
    width:60px;
    min-width:60px;
    max-width:60px;
}
.price_smart_grid th:nth-child(8){
    width:60px;
    min-width:60px;
    max-width:60px;
}*/
/*.price_smart_grid td:nth-child(5),.price_smart_grid td:nth-child(6),.price_smart_grid td:nth-child(7){
    text-align:right;
}
*/
.field_set{
    width:50%;
    float:left;
    margin:20px 0 20px 0;
}
.legent_sty {
  background: #086090 none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    width: 40%;
}
.margin_left_17 {
    margin-left:17px;
}
.input_field {
    margin:15px 0px;
}
.input_field span{
    font-weight:bold;
    color:#D24D57;
    font-size:13px;
    margin:0 0 0 10px;
    font-style:italic;
}

fieldset{
    border-radius: 5px;
    border:1px solid #ccc;
    /*box-shadow: 1px 1px 10px #c7c7c7;*/
    padding: 20px;
}

.textarea {
    border:1px solid #999;
    height:150px;
    width:250px;
}
.check_box {
    display:inline-block;
    vertical-align:top;
    margin:10px 0 0 0;
}

.check_box_sub{
    margin:10px 0 0 0;
}

.left_heading{
    float:left;
    margin:20px 0 10px 10px;
}

.left_heading span{
    color:#009e47;
    padding:0 0 0 10px;
}
.active_table {
    color:#009e47;
}

.calculate_bill {
    background:#00763c;
    color:#fff;
    padding:5px;
    cursor:pointer;
    
}
@media only screen and (max-width:959px) {
    
    
    .wrapper {
        width:98%;
        padding:0 1%;
        
    }
    body {
        overflow-x:auto;
    }
}

@media only screen and (max-width:800px) {
    

.default_height {
    min-height:600px;
}

}




.add-button img{
	margin-left:auto;
	margin-right:auto;
	display:block;
}


@media only screen and (max-width:1362px) {

#login_main{
    padding: 30px 3%;
}

}