
@import 'https://fonts.googleapis.com/css?family=Fjalla+One';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

table {
    border-spacing: 0;
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
}

.thead {
    background-color: #1376af;
    text-align: center;
}

th {
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    color: #f5f5f5;
    padding: 0px 5px;
    font-size: 14px;
    box-sizing: border-box;
}

td {
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    font-size: 13px;
    font-weight: normal;
    padding: 0px 6px;
    text-align: left;
    color: #666;
    box-sizing: border-box;
}
.status_bar tbody {
    background:#fff;
}
.status_bar tbody tr:nth-child(odd) { 
    background: #fbfbfb !important;
}
/*.status_bar tbody:nth-child(odd) { 
    background: #eee;
}*/

.error_msg_head{
    padding-left:40%; 
    color:red; 
    font-size:14px;
    display:inline-block;
}

.container {
    width: 100%;
    display: inline-block;
}

.wrapper {
    width: 98%;
    /*max-width: 1180px;*/
    min-width: 320px;
    margin: 0px auto;
}

.head {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.head_bg {
    /*background-color: #34495E;
    background: -webkit-linear-gradient(#ffffff, #f3f3f3); 
    background: -o-linear-gradient(#ffffff, #f3f3f3); 
    background: -moz-linear-gradient(#ffffff, #f3f3f3);
    background: linear-gradient(#ffffff, #f3f3f3);   */
}

.logo {
    float: left;
    padding: 20px 20px 20px 0px;
    background:#fff;
}

    .logo img {
        float: left;
    }

.headright {
    display: block;
    vertical-align: top;
    float:right;
}

    .headright p {
        clear: both;
        color: #686868;
        font-size: 20px;
        margin: 0 0 10px 0px;
        text-align: center;
    }
a{
    color: #0094DE;
}
a:hover{
    text-decoration: underline;
}
.login {
    float: right;
    padding: 20px 0 10px 0px;
}

    .login a {
        text-decoration: none;
        color: #D24D57;
        font-size: 100%;
        font-size: 15px;
        padding:0px;
    }
.login a:hover {
    text-decoration:underline;   
}

    .login img {
        height: 16%;
    }

.nav {
    /*background: #dadada;*/
    font-family: "microsoft sans Serif";
    font-size: 14px;
    color: #fff;
    display:inline-block;
    padding:26px 0 0 0;
    vertical-align:bottom;
    float: left;
}

/*.nav_bg {
    background-color: #f3f3f3;
    background: -webkit-linear-gradient(#FAFAFA, #D3D3D3); 
    background: -o-linear-gradient(#FAFAFA, #D3D3D3); 
    background: -moz-linear-gradient(#FAFAFA, #D3D3D3);
    background: linear-gradient(#FAFAFA, #D3D3D3); 
}*/

.nav ul {
    height: auto;
    padding: 0px;
    margin: 0px;
}

    .nav ul li {
        display: inline-block;
    }

        .nav ul li a {
            text-decoration: none;
            color: #666;
            padding: 15px;
            display: inline-block;
            font-family: arial;
            font-size: 14px;
            position: relative;
        }
        .nav ul li a img{
            vertical-align: bottom;
            height: 15px;
        }
        .nav ul li a.last_menu_icon img{
              
            width: 17px; 
        }

            .nav ul li a:hover {
                color: #3E9FA6;
/*              text-decoration:underline;
                background: #F3F3F3;
                background: -webkit-linear-gradient(#D3D3D3, #FAFAFA); 
                background: -o-linear-gradient(#D3D3D3, #FAFAFA); 
                background: -moz-linear-gradient(#D3D3D3, #FAFAFA); 
                background: linear-gradient(#D3D3D3, #FAFAFA);   */
            }

            .nav ul li a.active {
                /*background: #103950;*/
                  border-bottom: 1px solid #3E9FA6;
    color: #3E9FA6;
    padding: 0 0 10px;
            }


.header_main {
    
    width: 100%;
    display: inline-block;
    /*border-bottom: 0.5px solid #e1e1e1;*/
}

.header_bg_clr {
       border-bottom: 1px solid #aaa;
    border-left: 0px solid #d24d57;
    /*border-top: 1px solid #aaa;*/
    box-sizing: border-box;
}
    .header_main h2 {
       color: #333;
    font-size: 20px;
    padding: 10px 0px;
    text-align: left;
    display: inline-block;
        /*font-weight: bold;*/
    }

        .header_main h2 sub {
            font-size: 16px;
            color: #103950;
            text-align: left;
            padding: 10px;
        }

.field {
    float: left;
    
/*    min-width: 155px;
    max-width: 300px;*/
    height: 25px;
    margin-right: 1.33%;
    margin-bottom: 8px;
    font-size: 14px;
    font-family: sans-serif;
    color: #333;
}
.field_head {
    color: #333;
    display: inline-block;
    /*float: left;*/
    font-family: sans-serif;
    font-size: 14px;
    /*max-width: 280px;
    min-width: 155px;*/
    /*width: 270px;*/
    margin: 25px 1.33% 8px 0;
    vertical-align: bottom;
}
.lable_normal_flt {
    display: inline-block;
    font-size: 13px;
    /*margin-right: 10px;*/
    vertical-align: sub;
    width: 82px;
}
.lable_normal {
    display: inline-block;
    font-size: 13px;
    margin-right: 2px;
    padding: 4px 0 0 0;
}


.table_top_form{
    font-size: 17px; color: #fff; background-color:#2C3E50; width:230px; height:20px; padding:2px; float: left; padding-bottom:2px; vertical-align: bottom;
    margin: 20px 0 0px 0px; 
}

.select {
    padding: 2px;
    float: right;
    width: 155px;
    border: 1px solid #bebcbc;
    border-radius: 2px;
    font-size: 12px;
    height: 24px !important; /* to overwrite style.css*/
    margin-bottom: 10px;
    color: #505050;
    background-color: #fff;
    font-family: sans-serif, Verdana, Geneva !important;
}
.multi_drop,.ms-options-wrap{
    display: inline-block;
    margin:0 0 0 10px;
}
.input {
    float: right;
    width: 155px;
    border: 1px solid #bebcbc;
    border-radius: 2px;
    font-size: 12px;
    height: 22px !important; /* to overwrite style.css*/
    margin-bottom: 10px;
    color: #505050;
    background-color: #fff;
    font-family: sans-serif, Verdana, Geneva !important;
    text-indent: 5px;
    padding-right: 5px;
}

.form_head {
    background: /*#F3F3F3*/;
    width: 100%;
    display: inline-block;
    padding-top: 20px;
}

    .form_head h2 {
        font-size: 18px;
        color: #ed0011;
        text-align: left;
        padding: 10px;
        font-weight: bold;
    }

        .form_head h2 sub {
            font-size: 16px;
            color: #103950;
            text-align: left;
            padding: 10px;
        }

.clear {
    clear: both;
}

.status_bar_inner{
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.status_bar {
    padding: 20px 0;
    text-align: center;
    width: 100%;
}
    .status_bar_inner tr, .status_bar_inner th, .status_bar_inner td {
        vertical-align: middle;
        height: 30px;
        /*min-width: 150px;*/
        line-height: 20px;
    }

    .status_bar tr, .status_bar th, .status_bar td {
        vertical-align: middle;
        height: 30px;
        /*min-width: 150px;*/
        line-height: 20px;
        width:10%;
    }

.plan_list_view {
    margin: 0px auto;
    padding: 20px 0px 10px;
}

    .status_bar thead tr {

   background: #2d8bd5 none repeat scroll 0 0;

        /*background: #0879c1;
        background: -webkit-linear-gradient(#2597EC, #1267AB);  
        background: -o-linear-gradient(#2597EC, #1267AB); 
        background: -moz-linear-gradient(#2597EC, #1267AB);
        background: linear-gradient(#2597EC, #1267AB); 
         */
    }
    .plan_list_view thead tr:first-child{
        background: #2d8bd5 none repeat scroll 0 0;        
    }

    .plan_list_view thead th a {
        color: #ffffff;
    }

    .plan_list_view p {
        line-height: 40px;
    }

.inner_table, .inner_table tr td {
    border: none;
    height: 55px;
    width: 100%;
}

.inner_table_head, .inner_table_head tr td {
    border: none;
    height: 60px;
    width: 100%;
    color: rgba(0,0,0,0.75);
}

    .inner_table_head, .inner_table_head tr td {
        border: none;
    }

        .inner_table_head td:first-child {
            border-right: 1px solid #e1e1e1;
            min-width: 70px;
            max-width: 110px;
        }

        .inner_table_head td:nth-child(2) {
            border-left: 1px solid #e1e1e1;
            min-width: 70px;
            max-width: 110px;
        }

        .inner_table_head td:nth-child(3) {
            border-left: 1px solid #e1e1e1;
            min-width: 70px;
            max-width: 110px;
        }


/*.inner_table_head{
    margin:10px 0 0 0;
}*/

.status_bar span {
    padding-left: 20px;
}

.tbl_img img {
    max-width: 100%;
    vertical-align: middle;
    padding-left: 3px;
    text-align:center;
}

.search {
    display: inline-block;
    margin: 0% 5% 0 0;
}

    .search a {
        padding-left: 20px;
        padding-bottom: 10px;
        font-size: 18px;
        float: left;
        padding-top: 5px;
        opacity: 0.3;
    }

    .search img {
        float: right;
        height: 18px;
    }

.price_up {
    background:url(../images/up.png) no-repeat right center;
    width:16px;
    height:17px;
    display:inline-block;
}
.price_down {
    background:url(../images/down.png) no-repeat right center;
    width:16px;
    height:17px;
    display:inline-block;
}
.price_wrong {
    background:url(../images/wrong.png) no-repeat right center;
    width:16px;
    height:17px;
    display:inline-block;
}
.price_equal {
    background:url(../images/equal.png) no-repeat right center;
    width:16px;
    height:17px;
    display:inline-block;
}


.inputsearch {
    border: 2px solid #D7D7D7;
    border-radius: 2px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 90%;
    padding: 3px;
    width: 97%;
    box-sizing: border-box;
    height: 26px;
}

.search_blue {
    display: inline-block;
    margin: 0% 5% 0 0;
}

    .search_blue a {
        padding-left: 20px;
        padding-bottom: 10px;
        font-size: 18px;
        float: left;
        padding-top: 5px;
        opacity: 0.3;
    }

.button_normal {
    color: #FFF;
    padding: 5px 40px 5px 6px;
    margin: 0 10px 0 0;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    text-align: right;
    display: inline-block;
    background: #2d8bd5 none repeat scroll 0 0;
    /*float: left;*/
}
.button_normal:hover{
    background: #3498DB;
}
.button_search {
    color: #FFF;
    padding: 5px 40px 5px 6px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    text-align: right;
    background: url("../img/search1.png") no-repeat right 1px, linear-gradient(#2597EC, #1267AB);
}

    .button_search:hover {
        background-color: #005896;
        transition: 0.5s;
    }




.itm_lst {
    float: right;
    padding: 0 10px;
   margin-right: 10px;
    border-radius: 6px;
}

    .itm_lst img {
        padding: 3px 0 0 10px;
        vertical-align: bottom;
        float: left;
    }

    .itm_lst p {
        display: inline-block;
        text-align: right;
        font-size: 17px;
        color: #696969;
    }

.list_item a {
    float: right;
    padding: 10px;
}

.list_item {
    background-image: url("../images/list.png");
    background-position: 3% bottom;
    background-repeat: no-repeat;
    border: 2px solid #f4f4f4;
    border-radius: 8px;
    height: 0;
    padding: 2%;
    width: 250px;
    background-color: #f4f4f4;
}

.next_prev_haed {
    padding: 10px 0px;
    background: #f8f8f8 !important;
}

.next_prev {
    color: #fff;
    border: none !important;
}

    .next_prev table {
        width: auto !important;
        border: medium none;
    }

    .next_prev td a {
        color: #6C6C6A;
        vertical-align: top;
        border: none;
        text-transform: initial;
    }

    .next_prev td {
        border: none !important;
    }

.input_page {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #333;
    color: #333;
    margin: 0;
    padding: 1px 10px 1px 2px;
    vertical-align: middle;
    width: 25px;
    height: 18px;
}

.select_nav {
    float: none;
    padding: 2px;
}



.footer_main {
   background: #6d6d6d;
    box-shadow: 0 4px 5px #ccc;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-align:center;
    vertical-align:top;
    margin-top: 10px;
    /*min-height: 100%;*/
    position:fixed;
    left:0;
    bottom:0;
    /*height:30px;*/
    z-index:100;
}


.relative
{
    position:relative;
}
    .footer_main img {
        padding: 0 15px 0 0;
        vertical-align: middle;
    }

    .footer_main a {
        color: #fff;
    }

.flt_left {
    float: left;
}

    .flt_left a {
        font-size: 12px;
    }

apa_footer {
    display: inline-block;
    padding: 0 0 0 10px !important;
    vertical-align: middle;
}

.flt_right {
    float: right;
}
