
@import 'https://fonts.googleapis.com/css?family=Fjalla+One';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

table {
    border-spacing: 0;
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
}

.thead {
    background-color: #1376af;
    text-align: center;
}

th {
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    color: #f5f5f5;
    padding: 0px 5px;
    font-size: 14px;
    box-sizing: border-box;
}

td {
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    padding: 0px 6px;
    text-align: left;
    color: #434343;
    box-sizing: border-box;
}



.container {
    width: 100%;
    display: inline-block;
}

.container_bg {
    background-color: #f3f3f3;
}

.wrapper {
    width: 98%;
    /*max-width: 1180px;*/
    min-width: 320px;
    margin: 0px auto;
}

.head {
    width: 100%;
    display: inline-block;
    text-align: right;
}

.head_bg {
    background-color: #f3f3f3;
    background: -webkit-linear-gradient(#ffffff, #f3f3f3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #f3f3f3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #f3f3f3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #f3f3f3); /* Standard syntax (must be last) */
}

.logo {
    float: left;
    margin: 20px 0px;
}

    .logo img {
        float: left;
    }

.headright {
    display: block;
    vertical-align: top;
}

    .headright p {
        clear: both;
        color: #1376af;
        font-size: 20px;
        margin: 0 0 10px 0px;
        text-align: center;
    }

.login {
    float: right;
    margin: 20px 0;
}

    .login a {
        text-decoration: none;
        color: #1376af;
        font-size: 100%;
        font-size: 15px;
        padding: 25%;
    }

    .login img {
        height: 16%;
    }





/*For Navigation*/

.menu_pricing {
    background: url(../images/price.png) left center no-repeat;
    padding-left: 30px !important;
}


.menu_report {
    background: url(../images/invent.png) left center no-repeat;
    padding-left: 30px !important;
}

    .menu_report:hover {
        background: url(../images/invent.png) left center no-repeat;
        padding-left: 30px !important;
    }

.nav ul li .menu_pricing:hover {
    background:linear-gradient(#D3D3D3, #FAFAFA) url(../images/price.png) left center no-repeat;
   
    background: -webkit-linear-gradient(#D3D3D3, #FAFAFA) url(../images/price.png) left center no-repeat; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#D3D3D3, #FAFAFA) url(../images/price.png) left center no-repeat; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#D3D3D3, #FAFAFA) url(../images/price.png) left center no-repeat; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#D3D3D3, #FAFAFA) url(../images/price.png) left center no-repeat; /* Standard syntax (must be last) */
    padding-left: 30px !important;
}

.nav {
    width: 100%;
    background: #dadada;
    font-family: "microsoft sans Serif";
    font-size: 14px;
    color: #c5383c;
}

.nav_bg {
    background-color: #f3f3f3;
    background: -webkit-linear-gradient(#FAFAFA, #D3D3D3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FAFAFA, #D3D3D3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FAFAFA, #D3D3D3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FAFAFA, #D3D3D3); /* Standard syntax (must be last) */
}

.nav ul {
    height: auto;
    padding: 0px;
    margin: 0px;
}

    .nav ul li {
        display: inline-block;
        text-align: left;
    }

        .nav ul li a {
            text-decoration: none;
            color: #c5383c;
            padding: 15px;
            display: inline-block;
            font-family: arial;
            font-size: 14px;
            position: relative;
        }

            .nav ul li a:hover {
                background: #F3F3F3;
                background: -webkit-linear-gradient(#D3D3D3, #FAFAFA); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(#D3D3D3, #FAFAFA); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(#D3D3D3, #FAFAFA); /* For Firefox 3.6 to 15 */
                background: linear-gradient(#D3D3D3, #FAFAFA); /* Standard syntax (must be last) */
            }

            .nav ul li a.active {
                background: #103950;
                position: relative;
                z-index: 99;
            }


/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*For Navigation*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/




.header_main {
    background: #F3F3F3;
    width: 100%;
    display: inline-block;
    border-bottom: 0.5px solid #e1e1e1;
}

    .header_main h2 {
        font-size: 18px;
        color: #ed0011;
        text-align: left;
        padding: 10px 0 10px 0;
        font-weight: bold;
        display: inline-block;
    }

        .header_main h2 sub {
            font-size: 16px;
            color: #103950;
            text-align: left;
            padding: 10px;
        }


.form_head {
    background: /*#F3F3F3*/;
    width: 100%;
    display: inline-block;
    padding-top: 30px;
}

    .form_head h2 {
        font-size: 18px;
        color: #ed0011;
        text-align: left;
        padding: 10px;
        font-weight: bold;
    }

        .form_head h2 sub {
            font-size: 16px;
            color: #103950;
            text-align: left;
            padding: 10px;
        }

.clear {
    clear: both;
}

.status_bar {
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

    .status_bar tr, .status_bar th, .status_bar td {
        vertical-align: middle;
        height: 35px;
        height: 60px;
    }

    .status_bar span {
        padding-left: 20px;
    }

    .status_bar tr:nth-child(even) {
        background: #eee;
    }

    .status_bar tr td:nth-child(4) {
        width: 220px;
        min-width: 220px;
        max-width: 220px;
    }

    .status_bar tr td:nth-child(5) {
        width: 220px;
        min-width: 220px;
        max-width: 220px;
    }

    .status_bar tr td:nth-child(6) {
        width: 70px;
    }



.table {
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

    .table tr, .table th, .table td {
        vertical-align: middle;
        height: 35px;
        height: 60px;
    }

    .table span {
        padding-left: 20px;
    }

    .table tr:nth-child(even) {
        background: #eee;
    }


.plan_list_view {
    margin: 0px auto;
    padding: 20px 0px 10px;
}

    .plan_list_view thead tr {
        background: #0879c1;
        background: -webkit-linear-gradient(#2597EC, #1267AB); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#2597EC, #1267AB); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#2597EC, #1267AB); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#2597EC, #1267AB); /* Standard syntax (must be last) */
    }

    .plan_list_view thead th a {
        color: #ffffff;
    }

    .plan_list_view p {
        line-height: 40px;
    }



/*.inner_table_head{
    margin:10px 0 0 0;
}*/



.tbl_img img {
    max-width: 100%;
    vertical-align: middle;
    padding-left: 3px;
}

.search {
    display: inline-block;
    margin: 0% 5% 0 0;
    width: 160px;
}

    .search a {
        padding-left: 20px;
        padding-bottom: 10px;
        font-size: 18px;
        float: left;
        padding-top: 5px;
        opacity: 0.3;
    }

    .search img {
        float: right;
        height: 18px;
    }

.inputsearch {
    border: 2px solid #f4f4f4;
    border-radius: 2px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 90%;
    padding: 3%;
}

.search_title {
    display: inline-block;
    margin: 0% 5% 0 0;
    width: 160px;
}

.inputsearch_title {
    border: 2px solid #f4f4f4;
    border-radius: 2px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 90%;
    padding: 3%;
    width: 200px;
}

.search_blue {
    display: inline-block;
    margin: 0% 5% 0 0;
}

    .search_blue a {
        padding-left: 20px;
        padding-bottom: 10px;
        font-size: 18px;
        float: left;
        padding-top: 5px;
        opacity: 0.3;
    }


.button_search {
    color: #FFF;
    padding: 3px 40px 3px 6px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    text-align: right;
    background: url("../images/search1.png") no-repeat right center, linear-gradient(#2597EC, #1267AB);
}

    .button_search:hover {
        background-color: #005896;
        transition: 0.5s;
    }


span {
    padding-left: 9px;
}

.itm_lst {
    background-color: #f4f4f4;
    background: -webkit-linear-gradient(#F5F5F5, #C5C5C5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F5F5F5, #C5C5C5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F5F5F5, #C5C5C5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F5F5F5, #C5C5C5); /* Standard syntax (must be last) */
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

    .itm_lst img {
        padding: 3px 0 0 10px;
        vertical-align: bottom;
        float: left;
    }

    .itm_lst p {
        display: block;
        text-align: right;
        font-size: 17px;
        color: #696969;
    }

.list_item a {
    float: right;
    padding: 10px;
}

.list_item {
    background-image: url("../images/list.png");
    background-position: 3% bottom;
    background-repeat: no-repeat;
    border: 2px solid #f4f4f4;
    border-radius: 8px;
    height: 0;
    padding: 2%;
    width: 250px;
    background-color: #f4f4f4;
}

.next_prev_haed {
    padding: 10px 0px;
    background: #f8f8f8 !important;
    border: 1px solid #e1e1e1;
}

.next_prev {
    color: #fff;
    border: none !important;
}

    .next_prev table {
        width: auto !important;
        border: medium none;
    }

    .next_prev td a {
        color: #6C6C6A;
        vertical-align: top;
        border: none;
        text-transform: initial;
    }

    .next_prev td {
        border: none !important;
    }

.input_page {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #333;
    color: #333;
    margin: 0;
    padding: 1px 10px 1px 2px;
    vertical-align: middle;
    width: 25px;
    height: 18px;
}

.select_nav {
    float: none;
    padding: 2px;
}

.footer_main {
    background: #6d6d6d;
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    box-sizing: border-box;
    margin: 10px 0px;
}

    .footer_main img {
        padding: 0 15px 0 0;
        vertical-align: middle;
    }

    .footer_main a {
        color: #fff;
    }

.flt_left {
    float: left;
}

    .flt_left a {
        font-size: 12px;
    }

apa_footer {
    display: inline-block;
    padding: 0 0 0 10px !important;
    vertical-align: middle;
}

.flt_right {
    float: right;
}

/*For inner Pages*/
.wrapper_inner {
    margin: 0 auto;
    width: 98%;
}

    .wrapper_inner h2 {
        color: #1374af;
        display: inline-block;
        float: left;
        font-size: 20px;
        font-weight: normal;
        padding: 10px 0 0 0px;
        text-align: left;
    }

    .wrapper_inner h1 {
        color: #ed0011;
        display: inline-block;
        float: left;
        font-size: 16px;
        font-weight: normal;
        padding: 0 0 10px;
        text-align: left;
    }

.field_big {
    display: block;
    width: 400px;
    height: 25px;
    margin-right: 1.33%;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;
    color: #333;
    clear: both;
}

.field_big_title {
    display: inline-block;
    height: 25px;
    margin-right: 1.33%;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;
    color: #333;
    clear: both;
}

.browse_big {
    float: right;
    width: 168px;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    margin-bottom: 10px;
    color: #1374AF;
    background: none;
    font-family: sans-serif, Verdana, Geneva !important;
    text-indent: 5px;
    border: none;
}

.button_head {
    padding: 10px 0 0 80px;
}

.button_download {
    color: #FFF;
    padding: 5px 5px 5px 30px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #0070c0 url("../images/download.png") no-repeat 6px;
    text-align: right;
}

    .button_download:hover {
        background-color: #005896;
        transition: 0.5s;
    }

.button_process {
    color: #FFF;
    padding: 3px 5px 3px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #009e47 url("../images/process.png") no-repeat 5px;
    text-align: right;
}

    .button_process:hover {
        background-color: #00713b;
        transition: 0.5s;
    }

.button_apply {
    color: #FFF;
    padding: 3px 5px 3px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #009e47 url("../images/apply.png") no-repeat 5px;
    text-align: right;
}

    .button_apply:hover {
        background-color: #00713b;
        transition: 0.5s;
    }

.button_add {
    color: #FFF;
    padding: 3px 5px 3px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #009e47 url("../images/add.png") no-repeat 5px;
    text-align: right;
}

    .button_add:hover {
        background-color: #00713b;
        transition: 0.5s;
    }

.button_sync {
    color: #FFF;
    padding: 3px 5px 3px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #009e47 url("../images/sync.png") no-repeat 5px;
    text-align: right;
}

    .button_sync:hover {
        background-color: #00713b;
        transition: 0.5s;
    }



.button_left {
    float: left;
    padding: 10px 0 0 0;
}

.button_right {
    float: right;
    padding: 10px 0 10px 0;
}

.default_height {
    min-height: 900px;
}

.wrapper_footer {
    width: 100%;
    /*max-width: 1180px;*/
    min-width: 320px;
    margin: 0px auto;
}

.field_update_ver_chk {
    margin-right: 10px;
    width: 10px;
    height: 10px;
}

.field_chk {
    margin-right: 10px;
}

.field_radio {
    margin: 20px 0 0 0;
}

.tbl_img a {
    padding-right: 15px;
}

.table_inner {
    border: none;
    max-width: 30px;
    min-width: 20px;
    width: 30px;
}

    .table_inner td {
        border: medium none;
        max-width: 30px;
        min-width: 20px;
        width: 30px;
    }

.catagory {
    display: inline-block;
    overflow-y: scroll;
    padding: 15px 0;
    width: 100%;
}

.accordion_exclution {
    background-color: #eee;
    padding: 10px 0px;
    margin: 10px 0px;
    font-size: 19px;
    cursor: pointer;
}


.subMenuLevel2 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.nav ul li a:hover .subMenuLevel2 {
    display: block;
}

.submenu_inner {
    position: relative;
}




.level3 li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #fff;
}

    .level3 li a {
        background: rgba(0, 0, 0, 0) linear-gradient(#fafafa, #d3d3d3) repeat scroll 0 0;
        padding: 10px 20px;
        color: red !important;
        line-height: 20px;
        font-size: 15px;
        margin: 0px;
        display: block !important;
        border: none !important;
    }

        .level3 li a:hover {
        }



        .level3 li a:hover {
            text-decoration: none;
            border: none !important;
            background-color: #0064A7;
        }

.level3 {
    visibility: hidden;
}

.level3 {
    background: #1376af none repeat scroll 0 0;
    box-sizing: border-box;
    left: -50px;
    min-width: 200px;
    position: absolute;
    top: 50px;
    color: #fff;
    z-index: 99;
}

    .level3:hover {
        background: rgba(0, 0, 0, 0) linear-gradient(#d3d3d3, #fafafa) repeat scroll 0 0;
    }

    .level3.active {
        visibility: visible;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        position: absolute;
        /*right:calc(0% - 0px);*/
        top: 50px;
        left: 0%;
    }

.input_lable_disabled {
    float: right;
    width: 148px;
    border: 1px solid #eee;
    font-size: 12px;
    margin-bottom: 5px;
    color: #3399FF;
    background-color: #E7E7E7;
    font-family: sans-serif, Verdana, Geneva !important;
    text-indent: 5px;
    padding: 5px;
}

.table_footer {
    padding-top: 10px;
    background: #F8F7F7;
}

.inclusion_main {
    display: inline-block;
    width: 100%;
    border: 1px #ccc solid;
    margin: 10px 0px;
    text-align: center;
}

    .inclusion_main h2 {
        text-align: left;
        color: #EC644B;
        font-weight: bold;
        padding: 10px;
        border-bottom: 1px dotted #ccc;
    }

.category1 {
    width: 27%;
    margin: 0px 10px;
    display: inline-block;
    vertical-align: top;
}

.pricing_config {
    width: 36%;
    margin: 0px 10px;
    display: inline-block;
    vertical-align: top;
}

.input_drop_view {
    min-height: 200px;
    width: 100%;
}

.category1 h3, .pricing_config h3, .competitor h3 {
    font-size: 15px;
    color: #005896;
    text-align: left;
    margin: 10px 0;
}

.competitor {
    width: 27%;
    margin: 0 2%;
    display: inline-block;
}

.category_list_view {
    width: 100%;
    min-height: 200px;
    overflow: auto;
    margin: 0 0 20px 0;
}

.pricing_cal {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin: 0 0 10px 0;
}

.clr_light_blue {
    color: #446CB3;
}

.font_size_14 {
    font-size: 14px;
}








































.select_drop {
    width: 120px;
    height: 25px;
    margin-left: 15px;
    border: 1px solid #bebcbc;
    border-radius: 2px;
}

.padding_right_15 {
    padding-right: 15px;
}







.lable_normal_valign {
    display: inline;
    font-size: 13px;
    margin-right: 2px;
    vertical-align:sub;
}
.textarea_full_view {
    width: 50%;
    height: 40px;
    resize: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #bebcbc;
    border-radius: 2px;
    color: #505050;
    float: left;
    font-family: sans-serif,Verdana,Geneva !important;
    font-size: 12px;
    margin-bottom: 10px;
    text-indent: 5px;
}
    .button_add1 {
    color: #FFF;
    padding: 3px 40px 3px 6px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    text-align: right;
    background: url("../images/search1.png") no-repeat right center, linear-gradient(#2597EC, #1267AB);
}

    .button_add1:hover {
        background-color: #005896;
        transition: 0.5s;
    }




.main_form_exclusion {
    display:inline-block;
    margin:20px 0 0 0;
    width:100%;
}

.input_main_exclu {
    float: right;
    width: 300px;
    border: 1px solid #bebcbc;
    border-radius: 2px;
    font-size: 12px;
    height: 22px !important;
    margin-bottom: 10px;
    color: #505050;
    background-color: #fff;
    font-family: sans-serif, Verdana, Geneva !important;
    text-indent: 5px;
    padding-right: 5px;
}

.input_left {
    width:300px;
    border: 1px solid #bebcbc;
    border-radius: 2px;
    font-size: 12px;
    height: 22px !important;
    margin-bottom: 10px;
    color: #505050;
    background-color: #fff;
    font-family: sans-serif, Verdana, Geneva !important;
    text-indent: 5px;
    padding-right: 5px;
}

.switch {
    display: inline-block;
    height: 19px;
    position: relative;
    top: 6px;
    width: 36px;
}
.switch input {
    display: none;
}
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.4s ease 0s;
}
.slider::before {
    background-color: white;
    bottom: 4px;
    content: "";
    height: 12px;
    left: 4px;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 12px;
}
input:checked + .slider {
    background-color: #3498db;
}
input:focus + .slider {
    box-shadow: 0 0 1px #3498db;
}
input:checked + .slider::before {
    transform: translateX(16px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round::before {
    border-radius: 50%;
}


.select_full {
    padding: 2px;
    width: 155px;
    border: 1px solid #bebcbc;
    border-radius: 2px;
    font-size: 12px;
    height: 24px !important;
    margin-bottom: 10px;
    color: #505050;
    background-color: #fff;
    font-family: sans-serif, Verdana, Geneva !important;
}



.textboxlist {
    cursor: text;
    font: 11px "Lucida Grande",Verdana;
    display:inline-block;
    width:100%;
    margin:0 0 10px 0px;
}
.textboxlist-bits {
    /*border: 1px solid #999;*/
    margin: 0;
    overflow: hidden;
    padding: 10px 4px 10px;
    background:#FDFCF2;
    margin:10px 0 0 0;
}
.textboxlist-bit {
    cursor: default;
    display: block;
    float: left;
    list-style-type: none;
    margin: 0 5px 3px 0;
    padding: 0;
}
.textboxlist-bit-editable {
    border: 1px solid #fff;
}
.textboxlist-bit-editable-input {
    border: 0 none;
    font: 11px "Lucida Grande",Verdana;
    height: 14px;
    padding: 2px 0;
}
.textboxlist-bit-editable-input:focus {
    outline: 0 none;
}
.textboxlist-bit-box {
    background: #dee7f8 none repeat scroll 0 0;
    border: 1px solid #cad8f3;
    border-radius: 9px;
    cursor: default;
    line-height: 18px;
    padding: 0 5px;
    position: relative;
}
.textboxlist-bit-box-deletable {
    padding-right: 15px;
}
.textboxlist-bit-box-deletebutton {
    background: rgba(0, 0, 0, 0) url("../images/close.gif") repeat scroll 0 0;
    display: block;
    font-size: 1px;
    height: 7px;
    position: absolute;
    right: 4px;
    top: 6px;
    width: 7px;
}
.textboxlist-bit-box-deletebutton:hover {
    background-position: 7px center;
    border: medium none;
    text-decoration: none;
}
.textboxlist-bit-box-hover {
    background: #bbcef1 none repeat scroll 0 0;
    border: 1px solid #6d95e0;
}
.textboxlist-bit-box-focus {
    background: #598bec none repeat scroll 0 0;
    border-color: #598bec;
    color: #fff;
}
.textboxlist-bit-box-focus .textboxlist-bit-box-deletebutton {
    background-position: center bottom;
}
.or_small {
    font-size:12px;
    margin:0 5px 0 0;
}

.button_normal_onoff {
    font-size:14px;
    margin:0 0 0 20px;
}





.popup {
    width: 500px;
    border-radius: 5px;
    border: 2px #ccc solid;
    padding-bottom: 2px;
    background-color: #fff;
    margin-bottom: 5px;
    clear:both;
    margin-top:10px;
}


.heading_strip_pop {
    background-color: #dddada;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 30px;
}

.heading_pop {
    font-family: sans-serif, Verdana, Geneva;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 0 3px 8px;
    float: left;
    color: #696767;
}
.notes_title {
    font-style:italic;
    font-size:15px !important;
    color:#d63b16;

}
.button_cancel {
    color: #FFF;
    padding: 3px 5px 3px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #c0392b url(../images/cancel.png) no-repeat 5px;
    text-align: right;
}
    .button_cancel:hover {
        background-color: #a31d0f;
        transition: 0.5s;
    }

.button_center {
    display:inline-block;
    text-align:center;
    width:100%; 
}

.margin_top {
    margin-top:4px;
}


.button_save {
    color: #FFF;
    padding: 3px 5px 3px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #009e47 url("../images/save.png") no-repeat 5px;
    text-align: right;
}

.button_sync:hover {
    background-color: #00713b;
    transition: 0.5s;
}

.button_upload {
    color: #FFF;
    padding: 3px 5px 3px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #009e47 url("../images/upload.png") no-repeat 5px;
    text-align: right;
}

    .button_upload:hover {
        background-color: #00713b;
        transition: 0.5s;
    }

.button_delete {
    color: #FFF;
    padding: 3px 5px 3px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif, Verdana, Geneva;
    background: #c0392b url("../images/delete.png") no-repeat 5px;
    text-align: right;
}

    .button_delete:hover {
        background-color: #a31d0f;
        transition: 0.5s;
    }


    .field {
    float: left;
    width: 32%;
    min-width: 155px;
    max-width: 300px;
    height: 25px;
    margin-right: 1.33%;
    margin-bottom: 8px;
    font-size: 14px;
    font-family: sans-serif;
    color: #333;
}

.field_config {
    float: left;
    width: 32%;
    min-width: 155px;
    max-width: 430px;
    height: 25px;
    margin-right: 1.33%;
    margin-bottom: 8px;
    font-size: 14px;
    font-family: sans-serif;
    color: #333;
}

.lable_normal {
    display: inline;
    font-size: 13px;
    margin-right: 2px;
}

.select {
    padding: 2px;
    float: right;
    width: 155px;
    border: 1px solid #bebcbc;
    border-radius: 2px;
    font-size: 12px;
    height: 24px !important; /* to overwrite style.css*/
    margin-bottom: 10px;
    color: #505050;
    background-color: #fff;
    font-family: sans-serif, Verdana, Geneva !important;
}

.input {
    float: right;
    width: 155px;
    border: 1px solid #bebcbc;
    border-radius: 2px;
    font-size: 12px;
    height: 22px !important; /* to overwrite style.css*/
    margin-bottom: 10px;
    color: #505050;
    background-color: #fff;
    font-family: sans-serif, Verdana, Geneva !important;
    text-indent: 5px;
    padding-right: 5px;
}

.input_table {
    width: 155px;
    border: 1px solid #bebcbc;
    border-radius: 2px;
    font-size: 12px;
    height: 22px !important; /* to overwrite style.css*/
    margin-bottom: 10px;
    color: #505050;
    background-color: #fff;
    font-family: sans-serif, Verdana, Geneva !important;
    text-indent: 5px;
    padding-right: 5px;
}
